# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 *Objectives:*

* List of popular languages in Data Science
* Commonly used libaries used in Data Science
* Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python 
2. R 
3. Scala
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. Numpy
3. Pandas
4. Matplotlib
5. Seaborn

| Data Science Tools |
| :-: |
| Scala |
| Pandas |
| hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
 Munnaf Koilakuntla